apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
# fixes: https://github.com/fluxcd/flux2/issues/4601
buildMetadata: [ originAnnotations ]
# All controllers should be included in this kustomization, EXCEPT for monitoring, network and upgrade.
# They are handled separately.
#% if hcloud_cloud_controller_manager["install"] != True and longhorn["install"] != True and reloader["install"] != True %#
resources: []
#% else %#
resources: 
  #% if hcloud_cloud_controller_manager["install"] == True %#
  - hccm.yaml
  #% endif %#
  #% if longhorn["install"] == True %#
  - longhorn.yaml
  #% endif %#
  #% if reloader["install"] == True %#
  - reloader.yaml
  #% endif %#
#% endif %#
