#% if reloader["install"] == True %#
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: reloader
  namespace: flux-system
spec:
  interval: 6h
  chart:
    spec:
      chart: reloader
      version: "1.0.x"
      sourceRef:
        kind: HelmRepository
        name: stakater
        namespace: flux-system
      interval: 3h
  upgrade:
    cleanupOnFail: true
  values:
    #{ reloader["values"] | to_yaml | indent(4) }#
#% endif %#