apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
#% if cilium["install"] != True and external_dns["install"] != True and loki["install"] != True and promtail["install"] != True and cert_manager["install"] != True and kured["install"] != True and system_upgrade_controller["install"] != True and kube_prometheus_stack["install"] != True and traefik["install"] != True %#
# fixes: https://github.com/fluxcd/flux2/issues/4601
resources: []
#% else %#
resources:
#% if cilium["install"] == True %#
  - cilium.yaml
#% endif %#
#% if external_dns["install"] == True %#
  - external-dns.yaml
#% endif %#
#% if loki["install"] == True or promtail["install"] == True %#
  - grafana.yaml
#% endif %#
#% if cert_manager["install"] == True %#
  - jetstack.yaml
#% endif %#
#% if kured["install"] == True %#
  - kured.yaml
#% endif %#
#% if system_upgrade_controller["install"] == True %#
  - nimbolus.yaml
#% endif %#
#% if kube_prometheus_stack["install"] == True %#
  - prometheus-community.yaml
#% endif %#
#% if traefik["install"] == True %#
  - traefik.yaml
#% endif %#
#% endif %#
