apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources: 
  - namespace.yaml
#% if capacitor["install"] == True %#
  - ./capacitor
#% endif %#
#% if kube_prometheus_stack["install"] == True %#
  - ./kube-prometheus-stack
#% endif %#
#% if loki["install"] == True %#
  - ./loki
#% endif %#
#% if promtail["install"] == True %#
  - ./promtail
#% endif %#
